<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647476490724-7bmgh2q0c6ssekjg8qbsfqmdil9j26jk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647476490724-7bmgh2q0c6ssekjg8qbsfqmdil9j26jk</string>
	<key>API_KEY</key>
	<string>AIzaSyAudEy8dBTPoTbupR63ibWqOypsCyNYlxs</string>
	<key>GCM_SENDER_ID</key>
	<string>647476490724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alvin.loginFireBase</string>
	<key>PROJECT_ID</key>
	<string>loginex-b01c5</string>
	<key>STORAGE_BUCKET</key>
	<string>loginex-b01c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647476490724:ios:76a2ac0f93050a96fd57f1</string>
	<key>DATABASE_URL</key>
	<string>https://loginex-b01c5.firebaseio.com</string>
</dict>
</plist>